
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="CONTENT-TYPE" content="text/html;charset=EUC-KR">
	<link rel="shortcut icon" href=" " type="image/x-icon">
	<link rel="apple-touch-icon-precomposed" href=" " />
	<meta name="referrer" content="no-referrer-when-downgrade" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<title>Q&A</title>

	<h3>Q&A</h3>
	<div class="bbs-sch">
		<form action="board.html" name="form1">
			<input type=hidden name=s_id value="">
			<input type=hidden name=code value="">
			<input type=hidden name=page value=1>
			<input type=hidden name=type value=s>
			<input type=hidden name=board_cate value="">
			<input type=hidden name="review_type" value="" /><!-- .검색 폼시작 -->
			<fieldset>
				<legend>게시판 검색 폼</legend>
				<label>
					<input type='radio' name='shname' value='ok' onclick='change(1);'  class="MS_input_checkbox" />                                        이름
				</label>
				<label>
					<input type='radio' name='ssubject' value='ok' onclick='change(2);' checked="checked"  class="MS_input_checkbox" />                                        제목
				</label>
				<label>
					<input type='radio' name='scontent' value='ok' onclick='change(3);'  class="MS_input_checkbox" />                                        내용
				</label>
				<span class="key-wrap">
                                        <input type='text' name='stext' value=''  class="MS_input_txt" />                                        <a href="javascript:document.form1.submit();"><img src="//image.makeshop.co.kr/makeshop/d3/basic_simple/bbs/btn_bbs_sch.gif" alt="검색" title="검색" /></a>
                                    </span>
			</fieldset>
		</form><!-- .검색 폼 끝 -->
	</div><!-- .bbs-sch -->
	</div>

	<!-- 게시판 목록 -->
	<div class="bbs-table-list">
		<table summary="No, content,Name,Data,Hits">
			<caption>일반게시판 게시글</caption>
			<colgroup>
				<col width="150" />
				<col width="35" />
				<col width="*" />
				<col width="110" />
				<col width="110" />
				<col width="75" />
			</colgroup>
			<thead>
			<tr>
				<th scope="col"><div class="tb-center">NO.</div></th>
				<th scope="col"><div class="tb-center">&nbsp;</div></th>
				<th scope="col"><div class="tb-center">CONTENT</div></th>
				<th scope="col"><div class="tb-center">NAME</div></th>
				<th scope="col"><div class="tb-center">DATE</div></th>
				<th scope="col"><div class="tb-center">HITS</div></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td><div class="tb-center"><img src="/images/d3/modern_simple/common/icon_box_arrow.gif" /></div></td>
				<td><div class="tb-left"><img src = "/board/images/neo_notice.gif"/> </div></td>
				<td colspan= 4><div class="tb-left tb-bold">★ 문의게시판은 회원만 작성 가능합니다 ★</div></td>
			</tr>
			<!-- .공지사항 리스트 시작 -->
			<tr>
				<td><div class="tb-center"><img src="/images/d3/modern_simple/common/icon_box_arrow.gif" /></div></td>
				<td><div class="tb-left"><img src = "/board/images/neo_notice.gif"/> </div></td>
				<td>
					<div class="tb-left">
						<img src ="/board/images/neo_head.gif"/>
						<a href="/board/board.html?code=chicfox&page=1&type=v&board_cate=&num1=482910&num2=00000&number=1124366&lock=N&flag=notice" class="tb-bold"><font size=2><b>[안심 배송시스템]</b></font></a>
						<img src="/board/images/neo_hit.gif"/>
					</div>
				</td>
				<td>
					<div class="tb-center">
						<img src = "/shopimages/chicfox/MK_neo_chicfox_adminimg.gif"/>
					</div>
				</td>
				<td><div class="tb-center">2020.04.29</div></td>
				<td><div class="tb-center">57423</div></td>
			</tr>
			<tr>
				<td><div class="tb-center"><img src="/images/d3/modern_simple/common/icon_box_arrow.gif" /></div></td>
				<td><div class="tb-left"><img src = "/board/images/neo_notice.gif"/> </div></td>
				<td>
					<div class="tb-left">
						<img src ="/board/images/neo_head.gif"/>
						<a href="/board/board.html?code=chicfox&page=1&type=v&board_cate=&num1=520197&num2=00000&number=1124365&lock=N&flag=notice" class="tb-bold"><font size=2><b>[ 반품/교환 방법안내 ]</b></font></a>
						<img src="/board/images/neo_hit.gif"/>
					</div>
				</td>
				<td>
					<div class="tb-center">
						<img src = "/shopimages/chicfox/MK_neo_chicfox_adminimg.gif"/>
					</div>
				</td>
				<td><div class="tb-center">2019.05.16</div></td>
				<td><div class="tb-center">125088</div></td>
			</tr>
			<tr>
				<td><div class="tb-center"><img src="/images/d3/modern_simple/common/icon_box_arrow.gif" /></div></td>
				<td><div class="tb-left"><img src = "/board/images/neo_notice.gif"/> </div></td>
				<td>
					<div class="tb-left">
						<img src ="/board/images/neo_head.gif"/>
						<a href="/board/board.html?code=chicfox&page=1&type=v&board_cate=&num1=520204&num2=00000&number=1124364&lock=N&flag=notice" class="tb-bold"><font size=2><b>[ 상품 발송 준비기간 안내 ]</b></font></a>
						<img src="/board/images/neo_hit.gif"/>
					</div>
				</td>
				<td>
					<div class="tb-center">
						<img src = "/shopimages/chicfox/MK_neo_chicfox_adminimg.gif"/>
					</div>
				</td>
				<td><div class="tb-center">2019.05.16</div></td>
				<td><div class="tb-center">93553</div></td>
			</tr>
			<tr>
				<td><div class="tb-center"><img src="/images/d3/modern_simple/common/icon_box_arrow.gif" /></div></td>
				<td><div class="tb-left"><img src = "/board/images/neo_notice.gif"/> </div></td>
				<td>
					<div class="tb-left">
						<img src ="/board/images/neo_head.gif"/>
						<a href="/board/board.html?code=chicfox&page=1&type=v&board_cate=&num1=520301&num2=00000&number=1124363&lock=N&flag=notice" class="tb-bold"><font size=2><font color=#ff0000><b>★잠깐★ 반품/교환 원하는 상품이 포함된 주문서가 부분배송 되었다면 읽어주세요</b></font></font></a>
						<img src="/board/images/neo_hit.gif"/>
					</div>
				</td>
				<td>
					<div class="tb-center">
						<img src = "/shopimages/chicfox/MK_neo_chicfox_adminimg.gif"/>
					</div>
				</td>
				<td><div class="tb-center">2019.05.15</div></td>
				<td><div class="tb-center">100379</div></td>
			</tr>
			<!--. 공지사항 리스트 끝! -->

			<!--. 게시글 리스트 시작(한페이지당 게시글 수) -->
			<tr>
				<td><div class="tb-center">1124386</div></td>
				<td><div class="tb-left"><img src = "/board/images/neo_lock.gif"/></div></td>
				<!-- .product image 관련 -->
				<td>
					<div class="tb-left">
						<img src = "/board/images/neo_head.gif" style="padding-left: 00px;"/>

						<!--. 스팸글 처리 -->
						<a href=" ">[여행관련문의] 문의사항입니다.</a>
						<!--. 상품정보가 있을때 조회수가 10이상이면 hit아이콘보여주기 -->
						<!--. new아이콘처리 -->
						<img src = "/board/images/neo_new.gif"/>
					</div>
				</td>
				<td>
					<div class="tb-center">
						<div class='video-writer' style='padding-left:2px; padding-right:2px;' onMouseover="document.getElementById('MK_searchId_432581_00000').style.display='block'" onMouseout="document.getElementById('MK_searchId_432581_00000').style.display='none'">최은*                <div id='MK_searchId_432581_00000' class='search_id' style='display:none'>
							<a href="Javascript:search_id('432581||00000')">회원게시글검색</a>
						</div></div>                                                                                            </div>
				</td>
				<td><div class="tb-center">2022.12.11</div></td>
				<td><div class="tb-center">1</div></td>
			</tr>
			<!--. 게시글 리스트 시작(한페이지당 게시글 수) -->
			<tr>
				<td><div class="tb-center">1124385</div></td>
				<td><div class="tb-left"><img src = "/board/images/neo_lock.gif"/></div></td>
				<!-- .product image 관련 -->
				<td>
					<div class="tb-left">
						<img src = "/board/images/neo_head.gif" style="padding-left: 00px;"/>

						<!--. 스팸글 처리 -->
						<a href="/board/board.html?code=">[홈페이지 이용관련 문의 사항입니다.]</a>
						<!--. 상품정보가 있을때 조회수가 10이상이면 hit아이콘보여주기 -->
						<!--. new아이콘처리 -->
						<img src = "/board/images/neo_new.gif"/>
					</div>
				</td>
				<td>
					<div class="tb-center">
						<div class='video-writer' style='padding-left:2px; padding-right:2px;' onMouseover="document.getElementById('').style.display='block'" onMouseout="document.getElementById('').style.display='none'">  <div id='' class='search_id' style='display:none'>
							<a href=" ">회원게시글검색</a>
						</div></div>                                                                                            </div>
				</td>
				<td><div class="tb-center">2022.12.11</div></td>
				<td><div class="tb-center">2</div></td>
			</tr>
			<!--. 게시글 리스트 시작(한페이지당 게시글 수) -->
			<tr>
				<td><div class="tb-center">ID</div></td>
				<td><div class="tb-left"><img src = " "/></div></td>
				<!-- .product image 관련 -->
				<td>
					<div class="tb-left">
						<img src = "/board/images/neo_head.gif" style="padding-left: 00px;"/>
						<a href=" ">홈페이지 관련 문의사항 남깁니다.</a>

						<!--. 스팸글 처리 -->
						<!--. 상품정보가 있을때 조회수가 10이상이면 hit아이콘보여주기 -->
						<!--. new아이콘처리 -->
					</div>
				</td>

			<!--. 게시글 리스트 시작(한페이지당 게시글 수) -->
			<tr>
				<td><div class="tb-center">ID생성해서 넣기</div></td>
				<td><div class="tb-left"><img src = " "/></div></td>
				<!-- .product image 관련 -->
				<td>
					<div class="tb-left">
						<img src = " " style="padding-left: 00px;"/>
						<a href="\ ">[사이트문의]</a>

						<!--. 스팸글 처리 -->
						<a href="/board/board.html?code=chicfox&page=1&type=v&board_cate=&num1=432595&num2=00000&number=1124374&lock=Y">[교환/반품문의] 문의사항입니다.</a>
						<!--. 상품정보가 있을때 조회수가 10이상이면 hit아이콘보여주기 -->
						<!--. new아이콘처리 -->
						<img src = ""/>
					</div>
				</td>
				<td>
					<div class="tb-center">
						<div class='video-writer' style='padding-left:2px; padding-right:2px;' onMouseover="document.getElementById('').style.display='block'" onMouseout="document.getElementById('').style.display='none'">                <div id='' class='search_id' style='display:none'>
							<a href="">회원게시글검색</a>
						</div></div>                                                                                            </div>
				</td>
				<td><div class="tb-center">2022.12.11</div></td>
				<td><div class="tb-center">0</div></td>

			<!--. 게시글 리스트 끝 -->
			</tbody>
		</table>
	</div>
	<!-- //게시판 목록 -->

	<!-- 하단 페이징 & 버튼 -->
	<div class="bbs-btm">
		<div class="bbs-link"><a href="/board/board.html?code=chicfox&page=1&board_cate=&type=i" class="CSSbuttonWhite">글쓰기</a></div>
		<div class="bbs-paging">
			<div class="paging">
				<a href="/board/board.html?code=chicfox&page=1&board_cate=#board_list_target" class="now">1</a>
				<a href="/board/board.html?code=chicfox&page=2&board_cate=#board_list_target">2</a>
				<a href="/board/board.html?code=chicfox&page=3&board_cate=#board_list_target">3</a>
				<a href="/board/board.html?code=chicfox&page=4&board_cate=#board_list_target">4</a>
				<a href="/board/board.html?code=chicfox&page=5&board_cate=#board_list_target">5</a>
				<a href="/board/board.html?code=chicfox&page=6&board_cate=#board_list_target">6</a>
				<a href="/board/board.html?code=chicfox&page=7&board_cate=#board_list_target">7</a>
				<a href="/board/board.html?code=chicfox&page=8&board_cate=#board_list_target">8</a>
				<a href="/board/board.html?code=chicfox&page=9&board_cate=#board_list_target">9</a>
				<a href="/board/board.html?code=chicfox&page=10&board_cate=#board_list_target">10</a>
				<a href="/board/board.html?code=chicfox&page=11&board_cate=#board_list_target" class="next">&gt;</a>
				<a href="/board/board.html?code=chicfox&page=56220&board_cate=#board_list_target" class="last">&gt;&gt;</a>
			</div>
		</div>
	</div>
	<!-- //하단 페이징 & 버튼 -->
	</div><!-- .page-body -->
	</div><!-- #bbsData -->
	</div><!-- #content -->
	</div><!-- #contentWrap -->
	</div><!-- #contentWrapper-->
	<hr />
	</body>
</html>