<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <meta charset="UTF-8">
  <title>게시물 리스트</title>
</head>
<div layout:fragment="content">
<link th:href="@{/css/QnaList.css}" rel="stylesheet" />
<body ondragstart="return false" >
<hr>
<div class="layout">
  <div class="divIn">
    <h1>질의응답 QnA</h1>
    <div class="divG">
      <form th:action="@{/QnABoard/list}" method="get">
        <input style="width: 130px;" type="text" name="searchKeyword" class="SearchInput">
        <button type="submit" class="Search">검색</button>
      </form>
    </div>
    <div class="divT">
      <table>
        <thead>
        <tr>
          <th class="th1">No.</th>
          <th class="th2">제목</th>
          <th class="th3">작성자</th>
          <th class="th4">작성일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${list}">
          <td th:text="${board.id}" class="th1"></td>
          <td class="th22">
            <a th:text="${board.title}" th:href="@{/QnABoard/view/{id}(id=${board.id})}" class="tbTile"></a>
          </td>
          <td class="th3"><img th:src="${board.member.picture}" class="qnaProfile"><span th:text="${board.member.nickname}"></td>
          <td class="th4"><input type="text" th:value="${board.createDate}" class="tbInput" disabled></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div th:with="start=${(list.number/maxPage)*maxPage + 1}, end=(${(list.totalPages == 0) ? 1 : (start + (maxPage - 1) < list.totalPages ? start + (maxPage - 1) : list.totalPages)})" >
      <ul class="pagination justify-content-center">

        <li class="page-item" th:classappend="${list.number eq 0}?'disabled':''">
          <a th:href="@{'/QnABoard/list?page=' + ${list.number-1} + '&searchKeyword=' + ${searchKeyword}}" aria-label='Previous' class="page-link">
            <span aria-hidden='true'>Previous</span>
          </a>
        </li>

        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${list.number eq page-1}?'active':''">
          <a th:href="@{'/QnABoard/list?page=' + ${page-1} + '&searchKeyword=' + ${searchKeyword}}" th:inline="text" class="page-link">[[${page}]]</a>
        </li>

        <li class="page-item" th:classappend="${list.number+1 ge list.totalPages}?'disabled':''">
          <a th:href="@{'/QnABoard/list?page=' + ${list.number+1} + '&searchKeyword=' + ${searchKeyword}}" aria-label='Next' class="page-link">
            <span aria-hidden='true'>Next</span>
          </a>
        </li>

      </ul>
    </div>
      <a href="/QnABoard/write" class="writeBtn"><button class="btnWrite">글작성</button></a>
  </div>
</div>

</body>
</div>
</html>
