<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <meta charset="UTF-8">
  <title>게시물 상세 페이지</title>
</head>
<div layout:fragment="content">
<link th:href="@{/css/QnAView.css}" rel="stylesheet" />
<body>
<hr>
<div class="divOut">
  <div class="divIn">
    <div class="divTitle">
      <span class="divTitleSpan" th:text="${board.title}">제목입니다.</span>
    </div>
    <div class="divProfile">
      <img th:src="${board.member.picture}" class="boardProfile"><span class="boardNickname" th:text="${board.member.nickname}"></span>
      <input type="text" th:value="${board.createDate}" class="boardCreate">
    </div>
    <div class="divText">
      <p th:text="${board.content}">내용이 들어간 부분입니다.</p>
    </div>
    <div class="divBtn" th:if="${loginCheck} and ${idCheck.equals(board.member.loginId)}">
      <a th:href="@{/QnABoard/modify/{id}(id=${board.id})}"><button class="divInBtn">수정</button></a>
      <a th:href="@{/QnABoard/delete/{id}(id=${board.id})}"><button class="divInBtn">삭제</button></a>
    </div>
    <div class="divTitle" id="divTitleId">
      <span class="divRe">댓글</span>
    </div>
    <div class="divReply" th:each="reply : ${replyList}">
      <img th:src="${reply.member.picture}" class="replyImg">
      <span th:text="${reply.member.nickname}" class="replyNickname"></span><br>
      <input type="text" th:value="${reply.createDate}" class="replyCreate"><br>
      <span th:text="${reply.content}" class="replyContent"></span>
      <form action="/reply_delete" method="post">
        <input type="hidden" th:value="${reply.id}" name="id">
        <input type="hidden" th:value="${reply.qnABoard.id}" name="qna_id">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input th:if="${loginCheck} and ${idCheck.equals(reply.member.loginId)}" type="submit" value="삭제" class="replyDelete">
      </form>
    </div>
    <div class="replyCon">
      <form id="reply" action="/reply_write" method="post">
        <input type="text" id="content" name="content" class="form-control" placeholder="댓글을 입력해주세요.." aria-label="댓글을 입력해주세요.." aria-describedby="basic-addon2">
        <input type="hidden" id="qna_id" name="qna_id" th:value="${board.id}">
        <div class="input-group-append">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <button class="divInBtn" id="replyButton" type="submit">등록</button>
        </div>
      </form>
    </div>
    <div class="whitePlace">

    </div>
  </div>
</div>
</body>
</div>
</html>