<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <meta charset="UTF-8">
  <title>게시물 상세 페이지</title>
  <script th:inline="javascript" src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</head>
<div layout:fragment="content">
<link th:href="@{/css/QnAView.css}" rel="stylesheet" />
<body>
<hr>
<div class="divOut">
  <div class="divIn">
    <h1>질의응답 QnA</h1>
    <a th:href="@{/QnABoard/list}"><button id="lists" class="withdraw">목록</button></a>
    <div class="divTitle">
      <span class="divTitleSpan" th:text="${board.title}">제목입니다.</span>
    </div>
    <div class="divProfile">
      <img th:src="${board.member.picture}" class="boardProfile"><span class="boardNickname" th:text="${board.member.nickname}"></span>
      <input type="text" th:value="${board.createDate}" class="boardCreate">
    </div>
    <div class="divText">
      <p th:text="${board.content}">내용이 들어간 부분입니다.</p>
    </div>
    <div class="divBtn" th:if="${loginCheck} and ${idCheck.equals(board.member.loginId)}">
      <a th:href="@{/QnABoard/modify/{id}(id=${board.id})}"><button class="divInBtn">수정</button></a>
      <a th:href="@{/QnABoard/delete/{id}(id=${board.id})}"><button class="divInBtn">삭제</button></a>
    </div>
    <div class="divTitle" id="divTitleId">
      <span class="divRe">댓글</span>
    </div>
    <div class="divReply" th:each="reply : ${replyList}">
      <img th:src="${reply.member.picture}" class="replyImg">
      <span th:text="${reply.member.nickname}" class="replyNickname"></span><br>
      <input type="text" th:value="${reply.createDate}" class="replyCreate"><br>
      <div style="width:80%;">
      <span th:text="${reply.content}" class="replyContent"></span>
      </div>
      <form action="/reply_delete" method="post">
        <input type="hidden" th:value="${reply.id}" name="id">
        <input type="hidden" th:value="${reply.qnABoard.id}" name="qna_id">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input th:if="${loginCheck} and ${idCheck.equals(reply.member.loginId)}" type="submit" value="삭제" class="replyDelete">
      </form>
    </div>
    <div class="replyCon">
      <form id="reply" action="/reply_write" method="post" onsubmit="blankCheck()">
        <input sec:authorize="isAnonymous()" type="text" name="content" class="form-control noLogin" placeholder="로그인을 하시면 댓글을 등록할 수 있습니다." aria-label="댓글을 입력해주세요.." aria-describedby="basic-addon2" readonly>
        <input sec:authorize="isAuthenticated()" type="text" id="content" name="content" class="form-control" placeholder="댓글을 입력해주세요.." aria-label="댓글을 입력해주세요.." aria-describedby="basic-addon2">
        <input type="hidden" id="qna_id" name="qna_id" th:value="${board.id}">
        <div class="input-group-append">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <div sec:authorize="isAnonymous()">
          <button class="divInBtn" id="replyButton" type="submit">등록</button>
          </div>
          <div sec:authorize="isAuthenticated()" class="loginReplyBtn">
            <button class="divInBtn" id="replyBlankButton" type="submit">등록</button>
          </div>
          <div id="test_cnt">(0 / 100)</div>
        </div>
      </form>
    </div>
    <div class="whitePlace">

    </div>
  </div>
</div>
<div class="modal">
  <div class="modal_body">
    <div id="texth4"><h3 id="loginH3">로그인 후 이용해주세요.</h3></div>
    <button id="cbtn" class="withdraw"><span id="xBtn">X</span></button>
    <a href="/members/login" class="withdraw" id="widthLogin">로그인</a>
  </div>
</div>
</body>
<script th:inline="javascript">
  $(document).ready(function() {
  $('#content').on('keyup', function() {
  $('#test_cnt').html("("+$(this).val().length+" / 100)");

  if($(this).val().length > 100) {
  $(this).val($(this).val().substring(0, 100));
  $('#test_cnt').html("(100 / 100)");
  }
  });
  });

    const modal = document.querySelector('.modal');
    const btnOpenPopup = document.querySelector('#replyButton');
    const modalClose = document.querySelector('#cbtn');
    btnOpenPopup.addEventListener('click', () => {
      event.preventDefault();
      modal.style.display = 'block';
      window.scrollTo({top: 0});
    });
    modal.addEventListener("click", e => {
    const evTarget = e.target
    if(evTarget.classList.contains("modal")) {
      modal.style.display = "none"
    }});
    modalClose.addEventListener('click', () => {
      modal.style.display = "none";
    });


function blankCheck(){
  const replyContent = document.querySelector('#content').value;
  if(replyContent==""){
    event.preventDefault();
    document.querySelector('#content').placeholder="댓글을 입력해주세요.. 1~200자로 입력해주세요";
    return false;
  }
}
</script>
</div>
</html>