<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <meta charset="UTF-8">
  <title>게시물 작성폼</title>
  <script th:inline="javascript" src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</head>
<div layout:fragment="content">
<link th:href="@{/css/Qnawrite.css}" rel="stylesheet" />
<body>
<hr>
<div class="layout">
  <div class="divIn">
    <h1>QnA 게시판</h1>
    <form action="/QnABoard/writedo" method="post" onsubmit="inputNullCheck()">
      <div class="errorDiv">
        <h6>제목은 필수입력사항입니다.</h6>
      </div>
      <div class="divG">
        <input name="title" type="text" class="divGInput" placeholder="제목을 입력해주세요"> <br>
      </div>
      <div class="divText">
        <textarea name="content" class="textA"></textarea> <br>
      </div>
      <div class="divSubmit">
        <a href="/QnABoard/list"><button type="button" class="withdraw" id="redBtn">취소</button></a>
        <button type="submit" class="withdraw" oncilck="inputNullCheck()">작성</button>
      </div>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
  </div>
</div>

</body>
<script>
  function inputNullCheck(){
    const divInput = $('.divGInput').val()
    if(divInput==null || divInput==""){
      console.log('이게 왜 되는거야')
      event.preventDefault();
      $('.errorDiv').css('display','block')
      return false;
    }
  }
</script>
</div>
</html>