<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <title>Howtouse</title>
    <style>
		.div {text-align: center; margin-top:50px;}
		.vv {width:10%; text-align:center; height:100px;}
		.a2 {margin-bottom:100px; margin-top:50px;}
		.a3 {border-radius: 0.25rem; height:50px; width: 105px;
            font-size: 18px; background-color: rgb(174,219,225);
            border-width: 1px; color: white;}
        a {text-decoration: none;}
	</style>

</head>
<div layout:fragment="content">
<body>
<hr>
    <div class="div">
       <img  src="/img/사용1.PNG"></br>
       <img  src="/img/화살표.png" class="vv"></br>
       <img  src="/img/사용2.PNG"></br>
       <img  src="/img/화살표.png" class="vv"></br>
       <img  src="/img/사용3.PNG"></br>
       <img  src="/img/화살표.png" class="vv"></br>
       <img  src="/img/사용4.PNG"></br>
       <img  src="/img/화살표.png" class="vv"></br>
       <img  src="/img/사용5.PNG"></br>
       <img  src="/img/화살표.png" class="vv"></br>
       <img  src="/img/사용6.PNG"></br>
       <img  src="/img/화살표.png" class="vv"></br>
       <img  src="/img/사용7.PNG"></br>
       <img  src="/img/화살표.png" class="vv"></br>
       <img  src="/img/사용8.PNG"></br>

        <div class="a2">
            <a href="/">
                <button class="a3">홈으로</button>
            </a>
            <a href="/courseWritePage">
                <button class="a3">코스작성</button>
            </a>
        </div>
    </div>
</body>
</html>