<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="footer">
		<footer class="footer-distributed">
			<div class="footer-left">
				<h3>Company<span>SAII</span></h3>
				<p class="footer-links">
					<a href="/" class="link-1">Home   |  </a>
					<a href="members/use">사용방법   |  </a>
					<a href="QnABoard/list">Q&A     </a>
				</p>
				<p class="footer-company-name">Company SAII © 2022</p>
			</div>
			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					<p>서울특별시 금천구 가산디지털2로 123</p>
				</div>
				<div>
					<i class="fa fa-phone"></i>
					<p>+1.123.456.789</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">Seonmee@saii.com</a></p>
				</div>
			</div>
		</footer>
	</div>
</html>