<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link th:href="@{/css/signup.css}" rel="stylesheet">
  <script type="text/javascript" src="js/signup.js" defer></script>
</head>
<body>
<h2>회원가입</h2>
<div class="one">
<form action="/members/signup" method="post" th:object="${memberFormDto}">
  <p>아이디</p>  <input type="text" th:field="*{loginId}" placeholder="아이디입력"><br/>
  <p>비밀번호</p>  <input type="password" th:field="*{loginPw}" placeholder="비밀번호 입력"><br/>
  <p>비밀번호 확인</p>  <input type="password" placeholder="비밀번호 확인"><br/>
  <p>이름</p>  <input type="text" th:field="*{name}" placeholder="이름입력"><br/>
  <p>닉네임</p>  <input type="text" th:field="*{nickname}" placeholder="닉네임입력"><br/>
  <p>주소</p>  <input type="text" th:field="*{address}" placeholder="주소입력"><br/>
  <p>생년월일</p>  <input type="date" th:field="*{birthday}" min="1920-01-01" max="2030-01-01"><br/>
  <p>이메일</p>  <input type="email" th:field="*{email}" placeholder="이메일입력"><br/>
  <p>번호</p>  <input type="text" th:field="*{phoneNumber}" placeholder="번호입력"><br/>
  <p>성별</p>  <input type="radio" th:field="*{gender}" value="남자">남자
  <input type="radio" th:field="*{gender}" value="여자">여자<br/>
  <p>프로필</p> <input type="file" name="pick" /><br/>
  <button type="submit"  style="" value="회원가입!"></button>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  유저아이디값 생성날 권한
</form>
</div>
</body>
</html>