<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9298b59fe5fe509e6414c98642407c29&libraries=services"></script>
    <title>마이페이지</title>
    <link th:href="@{/css/mypage.css}" rel="stylesheet" />
</head>
<script
        src="https://code.jquery.com/jquery-3.6.2.min.js"
        integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
        crossorigin="anonymous"></script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<div layout:fragment="content">
<body>
<hr>
<div class="div0">
<h3>마이페이지</h3>
</div>
<div class="div1">
    <div class="div1-1" id="myInfo" onclick="divshow1()">내 정보</div>
    <div class="div1-1" id="myCourse" onclick="divshow2()">내가 만든 코스</div>
</div>
<div id="show1" >
    <!--    <form method="post" action="/members/update">-->
    <form method="post" action="/members/checkpath">
        <input id="edit" type="submit" value="수정/탈퇴" >
        <div class="mydiv">
            <label class="mylabel">아이디</label><br/>
            <input class="myinput" type="text" id="userId" name="loginId" th:value="${info.loginId}" readonly>
        </div>
        <div class="mydiv">
            <label class="mylabel">닉네임</label><br/>
            <input class="myinput" type="text" name="nickname" th:value="${info.nickname }" readonly>
        </div>
        <div class="mydiv">
            <label class="mylabel">이름</label><br/>
            <input class="myinput" type="text" name="name" th:value="${info.name }" readonly>
        </div>
        <div class="mydiv">
            <label class="mylabel">생년월일</label><br/>
            <input class="myinput" type="text" name="birthday" th:value="${info.birthday }" readonly>
        </div>
        <div class="mydiv">
            <label class="mylabel">성별</label><br/>
            <input class="myinput" type="text" name="gender" th:value="${info.gender }" readonly>
        </div>
        <div class="mydiv">
            <label class="mylabel">전화</label><br/>
            <input class="myinput" type="text" name="phoneNumber" th:value="${info.phoneNumber }" readonly>
        </div>
        <div class="mydiv">
            <label class="mylabel">이메일</label><br/>
            <input class="myinput" type="text" name="email"   th:value="${info.email }" readonly>
        </div>
        <div class="mydiv">
            <label class="mylabel">주소</label><br/>
            <input class="myinput" type="text" name="address" th:value="${info.address }" readonly>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>

    <div id="profile" align="center">
        <form enctype="multipart/form-data" action="/members/profile" method="post">
            <img id="preview" th:src="${info.picture}" width="120px" height="120px" style="border-radius: 50px"  onclick="imgoriginal()" ><br>
            <img id="preview1" th:src="${info.picture}" onclick="imgoriginalhidden()">
            <span th:text="${info.nickname}"></span>님의 프로필
            <!--            <label class="input_file_button" for="filebutton" >사진선택</label>-->
            <!--            <input id="filebutton" type="file" name="picture" th:value="*{info.picture}" onchange="imgCg(this)" required><br>-->
            <!--            <label class="input_submit" for="sub">프로필 적용</label>-->
            <!--            <input id="sub" type="submit" value="프로필변경">-->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </div>
</div>
<div id="show2">
    <div>
        <table class="table_wrap" th:each="lis, i: ${list}">
            <tr>
                <td colspan="2" th:text="|제목 : ${lis.title}|"></td>
                <td th:text="${lis.region}"></td>
            </tr>
            <tr>
                <td colspan="3" th:text="${lis.createdBy}"></td>
                <td th:text="${lis.viewCount}"></td>
            </tr>
            <tr>
                <td th:text="${lis.courseid}"></td>
            </tr>
        </table>
    </div>
</div>

<script>
      const modal = document.querySelector('.modal');
      const btnOpenPopup = document.querySelector('#modalbtn');
      const modalClose = document.querySelector('#cbtn');
      btnOpenPopup.addEventListener('click', () => {
        modal.style.display = 'block';
        window.scrollTo({top: 0});
      });
      modal.addEventListener("click", e => {
      const evTarget = e.target
      if(evTarget.classList.contains("modal")) {
        modal.style.display = "none"
      }});
      modalClose.addEventListener('click', () => {
        modal.style.display = "none";
      });
</script>
<script>
function passCk(){     

   var popupWidth = 650;
   var popupHeight = 250;

   var popupX = (window.screen.width / 2) - (popupWidth / 2);
   // 만들 팝업창 width 크기의 1/2 만큼 보정값으로 빼주었음

   var popupY= (window.screen.height / 2) - (popupHeight / 2);
   // 만들 팝업창 height 크기의 1/2 만큼 보정값으로 빼주었음

      window.open("http://localhost:8081/SAII/saii/mypage/passcheck.jsp?id="+document.getElementById("userId").value, "chkForm", 
            'width=' + popupWidth + ', height=' + popupHeight + ', resizable=no, scrollbars=no,top=' + popupY + ',left=' + popupX);
   }
function divshow1(){
   document.getElementById("show1").style.display="block";
   document.getElementById("show2").style.display="none";
   document.getElementById("myInfo").style.border="1px solid #2F76BD";
   document.getElementById("myCourse").style.border="none";

}
function divshow2(){
   document.getElementById("show1").style.display="none";
   document.getElementById("show2").style.display="block";
   document.getElementById("myCourse").style.border="1px solid #2F76BD";
   document.getElementById("myInfo").style.border="none";

}
function divshow3(){
   document.getElementById("show1").style.display="none";
   document.getElementById("show2").style.display="none";
   document.getElementById("show3").style.display="block";

}
function imgcg(input){
   if(input.files && input.files[0]){

      const reader = new FileReader()
        // 이미지가 로드가 된 경우
        reader.onload = function(e) {
            document.getElementById("preview").src=e.target.result;
            document.getElementById("preview1").src=e.target.result;
        };
        // reader가 이미지 읽도록 하기
        reader.readAsDataURL(input.files[0]);
   }else{
      document.getElementById("preview").src="/SAII/Storage/${dto.n_profile_img}";
   }
}
function withdrawcheck(){
   var memberdel = confirm('정말로 탈퇴하시겠습니까?');

   if(memberdel){
      alert('탈퇴됨');
      return true;
   }
   else{
      alert('탈퇴 안했네?');
      return false;
   }
}

function imgoriginal(){
      document.getElementById("preview1").style.display="block";
   }
function imgoriginalhidden(){
   document.getElementById("preview1").style.display="none";
}
</script>
<a href="/members/snow">눈</a>
</body>
</div>
</html>