@charset "UTF-8";
/* 메인 css*/
html, body, .map_wrap {
	height: 100%;
}

form {
	height: 100%;
}

.body_wrap {
	height: 100%;
	display: flex;
}

.my {
	width: 20%;
	position: relative; /* overflow: scroll; */
	height: 100%
}

#btnbox {
	position: static;
	bottom: 10px;
}

form {
	height: 90%;
}

.map_wrap, .map_wrap * {
	margin: 0;
	padding: 0;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	font-size: 12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active {
	color: #000;
	text-decoration: none;
}

.map_wrap {
	position: relative;
	width: 80%;
} /* height:500px; , width:100%; */
#menu_wrap {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
	margin: 10px 0 30px 10px;
	padding: 5px;
	overflow-y: auto;
	background: rgba(255, 255, 255, 0.7);
	z-index: 1;
	font-size: 12px;
	border-radius: 10px;
	list-style: none;
	overflow: hidden;
	
	transition: height ease-out 1s 0s;
}

#menu_wrap_box {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
	margin: 10px 0 30px 10px;
	padding: 5px;
	overflow-y: auto;
	background: rgba(255, 255, 255, 0.7);
	z-index: 1;
	font-size: 12px;
	border-radius: 10px;
	height: 10%;
	list-style: none;
	overflow: hidden;
	transition: height ease-out 1s 0s;
}

.bg_white {
	background: #fff;
}

#menu_wrap hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid #5F5F5F;
	margin: 3px 0;
}

#menu_wrap .option {
	text-align: center;
}

#menu_wrap .option p {
	margin: 10px 0;
}

#menu_wrap .option button {
	margin-left: 5px;
}

#menu_wrap {
	overflow: hidden;
}

#menu_wrap_box * {
	text-overflow: ellipsis;
	white-space: normal;
}

#placesList li {
	list-style: none;
}

#placesList .item {
	position: relative;
	border-bottom: 1px solid #888;
	overflow: hidden;
	cursor: pointer;
	min-height: 65px;
}

#placesList .item span {
	display: block;
	margin-top: 4px;
}

#placesList .item h5, #placesList .item .info {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#placesList .item .info {
	padding: 10px 0 10px 55px;
}

#placesList .info .gray {
	color: #8a8a8a;
}

#placesList .info .jibun {
	padding-left: 26px;
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
		no-repeat;
}

#placesList .info .tel {
	color: #009900;
}

#placesList .item .markerbg {
	float: left;
	position: absolute;
	width: 36px;
	height: 37px;
	margin: 10px 0 0 10px;
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
		no-repeat;
}

#placesList .item .marker_1 {
	background-position: 0 -10px;
}

#placesList .item .marker_2 {
	background-position: 0 -56px;
}

#placesList .item .marker_3 {
	background-position: 0 -102px
}

#placesList .item .marker_4 {
	background-position: 0 -148px;
}

#placesList .item .marker_5 {
	background-position: 0 -194px;
}

#placesList .item .marker_6 {
	background-position: 0 -240px;
}

#placesList .item .marker_7 {
	background-position: 0 -286px;
}

#placesList .item .marker_8 {
	background-position: 0 -332px;
}

#placesList .item .marker_9 {
	background-position: 0 -378px;
}

#placesList .item .marker_10 {
	background-position: 0 -423px;
}

#placesList .item .marker_11 {
	background-position: 0 -470px;
}

#placesList .item .marker_12 {
	background-position: 0 -516px;
}

#placesList .item .marker_13 {
	background-position: 0 -562px;
}

#placesList .item .marker_14 {
	background-position: 0 -608px;
}

#placesList .item .marker_15 {
	background-position: 0 -654px;
}

#pagination {
	margin: 10px auto;
	text-align: center;
}

#pagination a {
	display: inline-block;
	margin-right: 10px;
}

#pagination .on {
	font-weight: bold;
	cursor: default;
	color: #777;
}

#arrow {
	position: absolute;
	bottom: 0px;
	left: 125px;
	cursor: pointer;
}

/*#arrow{position: fixed;  bottom: 0px; left: 125px; cursor: pointer;}*/
/* 좌측 마이 스케쥴 사이드 바 css*/
#My_List {
	list-style-type: none;
	padding: 0px;
	height: 90%;
	overflow: auto;
	overflow-x: hidden
}

#My_List a{
	text-decoration: none;
}

#My_List li {
    margin-bottom: 5px;
    position: relative;
    display: block;
    box-shadow: 8px 5px 6px 1px #2e3030;
    margin-bottom: 37px;
}

#My_List li .info .close {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

#My_List li .info .title {
	overflow: hidden;
}

.check,.submitbtn{
	 font-weight: bold;
    background-color: #98dde3;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    color:#fff;
}

.searchbtn{
	font-weight: bold;
    background-color: #98dde3;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 8px;
    padding: 2px 9px;
    cursor: pointer;
}
/* 화면 우측 상단 카테고리 목록 css*/
/*#category {position:absolute;top:10px;right:10px;border-radius: 5px; border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background: #fff;overflow: hidden;z-index: 2;
	padding: 0px 0px 0px 0px;}*/
#category li, #category2 li {
	float: left;
	list-style: none;
	width: 50px;
	border-right: 1px solid #acacac;
	padding: 6px 0;
	text-align: center;
	cursor: pointer;
}
#category li{
	border-bottom:1px solid #acacac;
}



#category li.on {
	background: #eee;
}

#category li:hover, #category2 li:hover {
	background: #98dde3;
	border-left: 1px solid #acacac;
	margin-left: -1px;
}

#category li:last-child, #category2 li:last-child {
	margin-right: 0;
	border-right:0 ;
}




#category li span, #category2 li span {
	display: block;
	margin: 0 auto 3px;
	width: 27px;
	height: 28px;
}

#category li .category_bg, #category2 li .category_bg {
	background: url(../img/category.png) no-repeat;
	display: block;
}

#category li .bank {
	width: 43px;
	height: 50px;
	background-position: -58px -5px;
}

#category li .mart {
	width: 43px;
	height: 50px;
	background-position: -5px -125px;
}

#category li .pharmacy {
	width: 43px;
	height: 50px;
	background-position: -5px -5px;
}

#category li .oil {
	width: 43px;
	height: 50px;
	background-position: -58px -125px;
}

#category li .cafe {
	width: 43px;
	height: 50px;
	background-position: -111px -65px;
}

#category li .store {
	width: 43px;
	height: 50px;
	background-position: -164px -125px;
}

#category li .park {
	width: 43px;
	height: 50px;
	background-position: -164px -5px;
}

#category2 li .subway {
	width: 43px;
	height: 50px;
	background-position: -164px -65px;
}

#category2 li .culture {
	width: 43px;
	height: 50px;
	background-position: -111px -5px;
}

#category2 li .tourism {
	width: 43px;
	height: 50px;
	background-position: -5px -185px;
}

#category2 li .lodgment {
	width: 43px;
	height: 50px;
	background-position: -58px -65px;
}

#category2 li .food {
	width: 43px;
	height: 50px;
	background-position: -111px -125px;
}

#category2 li .hospital {
	width: 43px;
	height: 50px;
	background-position: -5px -65px;
	/* border-right: 1px solid #acacac; */
}

#category li.on .category_bg {
	background-position-x: -46px;
}

.background_on {
	background: #ffe6e6;
}

#box {
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 5px;
	border: 1px solid #909090;
	box-shadow: 0 1px 1px rgb(0 0 0/ 40%);
	background: #fff;
	z-index: 2;
	padding: 0px 0px 0px 0px;
	/* border: 1px solid black; */
	width: 356px;
	height: 164px;
}

#category-box {
	display: block;
	overflow: hidden;
	font-weight: bold;
}

#arrow2 {
	position: absolute;
	bottom: 54px;
	left: -12px;
	cursor: pointer;
	font-size: 15px;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	/* border: 1px solid black; */
	background: #fff;
	border-right: none;
	z-index: 0;
	height: 52px;
	display: flex;
	align-items: center;
	border: 1px solid #909090;
	border-right: none;
}

/* 마커 클릭시 나타나는 오버레이 css*/
.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 288px;
	height: 132px;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	line-height: 1.5;
	z-index: 2;
}

.wrap * {
	padding: 0;
	margin: 0;
	width: auto;
}

.wrap .info {
	width: auto;
	height: 120px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: #98dde3;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
	color:#fff;
}

.info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.info .desc {
	position: relative;
	margin: 13px 0px 0px 0px;
	height: 75px;
	flex-grow: 1;
}

.desc .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.desc .jibun {
	font-size: 11px;
	color: #888;
	margin-top: -2px;
}

.desc .phone {
	font-size: 11px;
	color: #288756;
	margin-top: -2px;
}

.info .img {
	position: absolute;
	top: 6px;
	left: 5px;
	width: 73px;
	height: 71px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
	color: #5085BB;
}

.info .button {
	width: 30%;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* 메모저장 박스 css */
.none {
	display: none;
}

.memobtn {
	position: absolute;
	bottom: 10px;
	right: 10px;
	
	font-weight: bold;
    background-color: #98dde3;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 8px;
    padding: 2px 9px;
    cursor: pointer;
    color:#f7f7f7;
}

.savememobtn{
	    font-weight: bold;
    background-color: #98dde3;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 0px;
    cursor: pointer;
}
#memobox {
	border: 1px solid black;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30%;
	height: 30%;
	z-index: 3;
	background: white;
	transform: translate(-50%, -50%);
}

.memo {
	resize: none;
	width: 95%;
	height: 70%;
	border: none;
}

#memobox textarea:focus {
	outline: none;
}

#memobox button {
	width: 30%;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#memobox .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
	cursor: pointer;
}

#memobox .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: #98dde3;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
	color:#f7f7f7;
}




.info  .mapoverlay{
	padding: 5px 37px 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 30px;
	background: #98dde3;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
    /* white-space: pre-wrap; */
    /* height: auto;*/
    color:#fff;
}

.mapoverlaybody{position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	}

 .info  .mapoverlay:hover, .info  .mapoverlay:hover ~ .info .mapoverlaybody{
 	overflow: visible;
	    white-space: nowrap; 
     width: auto;
} 

.button button{
	position: absolute;
	bottom: 10px;
	right: 10px;
	
	font-weight: bold;
    background-color: #98dde3;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 8px;
    padding: 2px 9px;
    cursor: pointer;	
}

.submitbtna{    font-weight: bold;
    background-color: #98dde3;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;}
 
.sidebar{
	font-size: 26px;
	font-weight: bold;
}

 #sidebartitle, #sidebarregion{
 	 display: contents;
 }
 
 .url a{
     position: relative;
    bottom: 20px;
    right: -172px;
    font-weight: bold;
    background-color: #98dde3;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 8px;
    padding: 2px 9px;
    cursor: pointer;
    color: #f7f7f7;
    }