@charset "UTF-8";

h1 {
 text-align: center;
 text-shadow: gray;
 color:black;
 
}

#himg{
  margin-top:20px;
  width: 120x;
  height: 70px;
  object-fit: cover;
}
		

#header {
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  text-align: center;
  margin-bottom : 20px;
  text-decoration:blink;
  font-weight: bold;
  color: white;
  width:700px;
  position:relative; 
  right:-150px;
  padding:0;
}

/* .btn-outline-primary {
    color: black;
    border-color: #98dde3;
    font-weight: bold;
} */
.btn-primary {
    color: #fff;
    background-color: #98dde3;
    border-color: #98dde3;    
    font-weight: bold;
}

.btn-primary:hover {
    color: #fff;
    background-color:rgb(91, 174, 223);
    border-color: rgb(91, 174, 223);
    font-weight: bold;
}

.btn-outline-primary{
    border-color:#98dde3;
    border-style:bold;
    text-decoration-color:#98dde3;
    font-weight: bold;
}

.btn-outline-primary:hover {
    background-color:rgb(91, 174, 223);
    border-color:#98dde3;
    font-weight: bold;
}


.py-3 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.mb-4 {
	margin-bottom: 1.5rem !important;
}

.align-items-center {
	align-items: center !important;
}

.justify-content-center {
	justify-content: center !important;
}

.flex-wrap {
	flex-wrap: wrap !important;
}

.border-bottom {
	border-bottom: var(- -bs-border-width) var(- -bs-border-style)
		var(- -bs-border-color) !important;
}

.d-flex {
	display: flex;
}

*, ::after, ::before {
	box-sizing: border-box;
}

body {
    background-color: rgb(251 251 251);
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-family: 'Hack';
}

section {
	background-color: rgb(225 224 241);
	padding: 30px;
	color: white;
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	height: 765px;
}

.image-box {
	position: relative;
	font-size: 10px;
	color: white;
	z-index: 2;
	text-align: center;
	width: 100%;
}

/* div.image-box {
    width:50%;
    height:50%;
    overflow:hidden;
    margin:0 auto;
    justify-content: center;
    align-items: center;
}
 */
footer {
	background-color: rgba(223, 231, 232, 0.5);
	padding: 23px;
	color:black;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
	font-size:15px;
}

li {
	display: inline;
	margin: 0 20px 0 0;
}

#search {
	border-style: dotted;
	border-width: 2px;
	padding: 5px;
	margin: 0;
	display: flex;
	flex-direction: row-reverse;
}

.imgbox {
	width: 400px;
	height: 400px;
    justify-content: center;
    margin-bottom:-600px;
    z-index: 1;
}

.imgbox:hover{
	transform:scale(1.1);
}

.col-md-3 text-end{
	width:200px
}