tr>td:first-child {
	text-align: right
}

body:first-child>table>input,[type=email],[type=Date],[type=text],[type=password] {
	width: 180px;
	height: 30px;
	border:0;
	font-size: 15px;
	border-radius: 10px;
	background-color: rgb(255, 249, 227);
	vertical-align: middle;
}
h4 {
	text-align: center;
}
#firsttable {
	width: 300px;
	background-color: rgb(255, 243, 200);
	border-radius: 20px
}
#edit {
	position: absolute;
	left: 49%;
	top: 65px;
	border: 0px;
	height: 30px;
	background-color: #FF6600;
	color: white;
	cursor: pointer;
	padding: 6px 18px;
	border-radius: 5px;
	font-size: 15px;
	
}

#profile{
	position: relative;
	top: -320px;
	right: 250px;
}
#filebutton {
	display: none;
}
.input_file_button{
	position:relative;
	top:10px;
	background-color: #FF6600;
	color: white;
	cursor: pointer;
	padding: 6px 25px;
	border-radius: 5px;
	display:inline-block;
	width: 100px
}
#sub{
	display: none;
}
.input_submit{
	position:relative;
	top:30px;
	background-color: #FF6600;
	color: white;
	cursor: pointer;
	padding: 6px 25px;
	border-radius: 5px;
	display:inline-block;
	width: 100px
}

