<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="description" content=""/>
  <meta property="og:type" content="website">
  <meta property="og:title" id="ogtitle" content="">
  <meta property="og:image" id="ogimage" content="">
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://korean.visitkorea.or.kr/detail/fes_detail.do?cotid=3fc4c92d-ced8-4bea-a14f-19f8abf61dfc&big_category=A02&mid_category=A0207&big_area=37" />
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/content.css">
  <link rel="stylesheet" type="text/css" href="/css/style1.css">
  <link rel="stylesheet" type="text/css" href="/css/festival_view.css">
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  <!-- 카카오 맵 API 불러오기-->
  <script th:inline="javascript" type="text/javascript"
          src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9298b59fe5fe509e6414c98642407c29&libraries=services"></script>
</head>

<div layout:fragment="content">
<body>
<div id="skipToContent">
  <a href="#contents">본문 바로가기</a>
</div>

<header id="detail_header" class="main_gnb sub type1">
</header>
<!-- //header -->
<!-- contents -->
<div id="contents">
  <!-- 상단 -->
  <div class="titleType1">
    <div class="area_tag">
      <span class="name4"><a href="http://localhost:8081/festival"><span class="ico">Hot</span>축제</a></span>
      <div class="brandingIcon">
      </div>
    </div>

    <div class="fes_status">
    </div>
    <h2 id="topTitle"></h2>
    <div class="area_address" id="topAddr">
    </div>

    <!-- 캐치플레이스 -->
    <div class="dbDetail" id="topCp">
      <div class="titTypeWrap"><h3><em></em></h3></div>
    </div>
    <!-- //캐치플레이스 -->

    <div class="post_area">
      <button type="button" class="btn_good" onclick="setLike();">
        <span class="ico">좋아요</span>
        <span class="num" id="conLike"></span>
      </button>
      <span class="num_view"><em class="tit">조회수</em><span class="num" id="conRead"></span></span>
      <span class="rline">
					<button type="button" class="btn_bookmark" onclick="setFavoContentDetail();"><span class="ico">즐겨찾기</span></button>
					<button type="button" class="btn_print" onclick="openPrint();" title="새창 열림">
					</button>
					<button type="button" class="btn_cos" onclick="myCourseCartDetail('C','12','');">
						<span class="ico">코스 담기</span>
					</button>
						<button type="button" class="btn_sharing" onclick="openShare();">
                        <span class="ico">공유하기</span>
                        <span class="num" id="conShare"></span>
                    </button>
      </span>
    </div>
  </div>
  <!-- //상단 -->

  <!-- 내용 -->
  <div class="db_cont_detail">
    <div class="detail_tab">
      <ul>
        <li class="select_tab on" id="photoTab"><a href="#galleryGo"><span>사진보기</span></a></li>
        <li class="select_tab" id="detailTab"><a href="#detailGo"><span>상세정보</span></a></li>
        <li class="select_tab" id="talkTab"><a href="#replyGo"><span>여행톡</span></a></li>
        <li class="select_tab" id="recomTab"><a href="/course/list"><span>추천여행</span></a></li>
      </ul>
    </div>

    <!-- 사진보기 -->
    <div id="galleryGo">
      <div class="user_reg" style="display: none"><button type="button" onclick="imgupload();"><span>사진등록하기</span></button></div>
      <h3 class="blind">사진보기</h3>
      <div class="photo_gallery">



        <!-- 공사 사진 영역 -->
        <div class="swiper-container">

          <div class="swiper-wrapper" id="pImgList">
          <!--가져온 사진 이미지-->
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next">다음</div>
          <div class="swiper-button-prev">이전</div>
        </div>
        <div class="simg">
          <ul></ul>
        </div>
      </div>
    </div>
    <!-- //사진보기 -->
    <!-- 큐레이션영역 -->
    <!-- //큐레이션영역 -->
    <!-- 상세정보 -->
    <div id="detailinfo">
      <div class="blind">
        올해로 8회째를 맞는 ‘2022 겨울, 청계천의 빛’이 12월 16일부터 31일까지 청계광장에서 열린다.<br>올해는 2023년 새해 안전한 세상을 위한 희망의 빛을 담았다.
      </div>
      <!-- 내용더보기 -->

      <div class="wrap_contView">
        <h3>상세정보</h3>
       <a href="/mail/send" onclick="window.open(this.href,'_blank','width=600px,height=500px,toolbars=no,scrollbars=yes');return false;"> <button class="btn_modify" ><span>관리자에게 문의하기</span></button></a>
        <details>
          <div class="inr">
            <p>
            </p>
          </div>

      </details>
      </div>
        <div class="area_txtView top">
          <div class="inr_wrap">
        </div>
      <!-- //내용더보기 -->

      <h3 class="blind">상세정보</h3>
      <!-- 주변정보 지도 -->
      <div class="surroundingsMap" id="detailGo">
        <div class="map_skip" tabindex="0"><a style="display:none;" href="javascript:jumpkakaomap();">지도 건너뛰기</a></div>
        <div id="map" class="wrap_map"> <!-- open 클래스 추가 시 지도 확장-->


<!--            <ul>-->
<!--              <li><button type="button"><span class="icon1">주변 여행지</span></button></li>-->
<!--              <li><button type="button"><span class="icon2">음식점</span></button></li>-->
<!--              <li><button type="button"><span class="icon3">카페</span></button></li>-->
<!--              <li><button type="button"><span class="icon4">숙소</span></button></li>-->
<!--              <li><button type="button"><span class="icon5">주차장</span></button></li>-->
<!--            </ul>-->

        </div>
      </div>
      <!-- //주변정보 지도 -->

      <div class="wrap_contView">
      </div>
      <div class="association_btn" style="display : none;">
        <a href="javascript:tgprDbCheck();">연관 여행상품 보기</a>
      </div>

      <!-- 팜플렛 와이드형, 티켓 일반형 -->
      <div id="addContView">
      </div>
      <!-- //팜플렛 와이드형, 티켓 일반형 -->

      <!-- 중간 배너 -->
      <ul class="list_banner clfix" style="display: none;">
        <li class="full_img">
          <div id="staticMap">
          </div>
        </li>
        <li class="link_mapsearch"><!-- 기본 노출 영역 -->
          <a href="javascript:;" title="길찾기 페이지로 이동" style="background-color:#1b9efb">
            <em>길찾기</em>
            <span></span>
          </a>
        </li>
        <li class="link_navi"><!-- 기본 노출 영역 -->
          <a href="javascript:showNevi();" title="내비게이션으로 이동" style="background-color:#edaf00">
            <em>내비게이션</em>
            <span></span>
          </a>
        </li>
        <!-- 1002 로드뷰 삭제 -->
        <!-- <li class="link_map" style="background-color:#e84c57">
            <a href="#" title="로드뷰로 이동">
                <em>로드뷰</em>
                <span></span>
            </a>
        </li> -->
        <!-- // 1002 로드뷰 삭제 -->
      </ul>
      <!-- //중간 배너 -->

      <!-- 태그 -->
      <div class="tag_cont">
        <div class="inr">
          <ul class="clfix">
          </ul>
        </div>
        <button type="button" class="btn_more">더보기</button>
      </div>
      <!-- //태그 -->

      <!-- 담당부서 -->
      <div class="btm_team team_marg">
        <div class="inr">
        </div>
        <button type="button" class="btn_onoff"><span>열기</span></button>
      </div>
      <!-- //담당부서 -->
    </div>
    <!-- //상세정보 -->
    <!-- 여행톡 -->
    <h3 class="blind">여행톡</h3>
    <div id="replyGo">
      <div class="replyWrap"><!-- login 추가시 로그인 후 form -->
        <h3 class="tit_reply">여행톡<span></span></h3>
        <div class="write">
          <div class="form">
            <form name="tform" id="tform">
              <label class="blind" for="comment">로그인 후 소중한 댓글을 남겨주세요.</label>
              <span class="writeForm"><textarea name="" rows=""  id="comment" placeholder="로그인 후 소중한 댓글을 남겨주세요." cols="" onkeydown="commentresize(this);"></textarea></span>
              <div class="fileRegbtn_wrap">
									<span class="fileRegbtn">
										<input type="file" id="fileUp" name="fileUp" multiple onchange="fileChange(this)"/>
										<label for="fileUp" class="btn_fileUp">파일찾기</label>
										<a href="javascript:" class="btn_apply ContentComment">등록</a>
									</span>
              </div>
            </form>
          </div>
        </div>
        <div class="wrap_reply">
          <p class="reply_none">등록된 댓글이 없습니다.</p>
        </div>
        <div class="wrap_reply">
          <div class="list_reply">
            <ul>
            </ul>
            <div class="btn_center" id="commentMore"  style="display: none">
              <a href="javascript:" class="btn_more">댓글 더보기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //여행톡 -->

    <!-- 킬러컨텐츠 배너 -->
    <div class="bannerAdd">
      <a href="javascript:;"><img src="" alt=""></a>
      <a href="javascript:;"><img src="" alt=""></a>
    </div>
    <!-- //킬러컨텐츠 배너 -->

    <!-- 축제배너 -->
    <div class="festivalBanner_btm">
    </div>
    <!-- //축제배너 -->

    <div id="relationGo"></div>
    <!-- 연관코스 -->
    <div class="relation_cos" style="display: none;">
      <h3><span class="blind">추천여행</span>연관정보</h3>
      <strong class="stit"></strong>
    </div>
    <!-- //연관코스 -->

    <!-- 연관기사 -->
    <div class="relation_info" style="display :none;">
      <strong class="stit"></strong>
      <ul></ul>
    </div>
    <!-- //연관기사 -->

    <!-- 연관축제 -->
    <div class="vicinity_festival" style="display :none;" id="fesDiv">
      <strong class="stit"></strong>
      <ul></ul>
    </div>
    <!-- //연관축제 -->

  </div>
  <!-- //내용 -->
</div>
<!-- //contents -->

<!-- 공지사항 , 유관기관, footer-->


<!-- 맵 팝업 -->
<div id="mapviewPop" class="wrap_layerpop">
  <div class="layerpop">
    <div class="tit">
      <h2></h2>
      <button type="button" class="btn_close3" onclick="layerPopup.layerHide('mapviewPop');">닫기</button>
    </div>
    <div class="box_cont">
      <div class="surroundingsMap">
        <div class="wrap_map" id="mapMo">


          <a href="javascript:changeCenter();" class="refreshify" style="z-index: 100;">새로고침</a>
          <div class="layer" tabindex="0">
            <span class="img"><a href="javascript:;"><img src="" alt=""></a></span>
            <div>
              <strong><a href="javascript:;"></a></strong>
              <span class="area"></span>
              <span class="km"></span>
              <div class="btn">
                <button type="button" class="bookmark" onClick=" ">즐겨찾기</button>
                <button type="button" class="good" onClick="setLike(2);">좋아요</button>
                <button type="button" class="course" onClick="">코스담기</button>
                <button type="button" class="guide roadbutton">길안내</button>
              </div>
            </div>
            <button type="button" class="close">닫기</button>
          </div>
          <div class="map_menu">
            <button type="button" class="view" style="display : none;">상세보기</button>

            <ul>
              <li><button type="button"><span class="icon1">주변 여행지</span></button></li>
              <li><button type="button"><span class="icon2">음식점</span></button></li>
              <li><button type="button"><span class="icon3">카페</span></button></li>
              <li><button type="button"><span class="icon4">숙소</span></button></li>
              <li><button type="button"><span class="icon5">주차장</span></button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- //맵 팝업 -->

</body>
  <script th:inline="javascript">
  var id=/*[[${id}]]*/
  $('')
</script>
  <script type="text/javascript" th:src="@{/js/festival_view.js}"></script>
</div>


</html>