<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
  <!-- 카카오 맵 api 불러오기 -->
  <script type="text/javascript"
          src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9298b59fe5fe509e6414c98642407c29&libraries=services"></script>
  <!-- 제이쿼리 적용 -->
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  <title>사이</title>

</head>
<div layout:fragment="content">
  <body>
    <div>
      <table>
        <tr>
          <td class="search-bar" align="center">
            <select name="searchType">
              <option value="">전체</option>
              <option value="title">제목</option>
              <option value="writer">작성자</option>
              <option value="region">지역</option>
            </select>
            <input type="text" name="searchStr" />
            <input type="submit" value="검색" />
          </td>
        </tr>
      </table>
    </div>
      <table class="table_wrap" th:each="list, i: ${lists}" th:onclick="|courseView(${list.courseid})|">
        <tr>
          <td class="map_wrap" rowspan="3">
            <div class="map"style="width: 200px; height: 200px; position: relative;"></div>
          </td>
          <td colspan="2" th:text="|제목 : ${list.title}|"></td>
          <td th:text="${list.region}"></td>
        </tr>
        <tr>
          <td colspan="4" th:text="${list.getOrders()}"></td>
        </tr>
        <tr>
          <td colspan="3" th:text="${list.createdBy}"></td>
          <td th:text="${list.viewCount}"></td>
        </tr>
        <script th:inline="javascript">
          function courseView(id){
            location.href="/courseViewPage/"+id
          }

          var index = [[${i.index}]]
          var datas = [[${list.courseDatas}]]
          var markers = []

          mapContainer = document.getElementsByClassName('map')

          function addMarker(position, idx) {
            var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png',
            imageSize = new kakao.maps.Size(36, 37),
            imgOptions =  {
              spriteSize : new kakao.maps.Size(36, 691),
              spriteOrigin : new kakao.maps.Point(0, (idx*46)+10),
              offset: new kakao.maps.Point(13, 37)
            },
            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
              marker = new kakao.maps.Marker({
              position: position,
              image: markerImage
            });
            markers.push(marker);
            return marker;
          }

          datas.forEach(function(data, index){
             addMarker(new kakao.maps.LatLng(data.y, data.x),index)
          })

          mapOption={
            center: new kakao.maps.LatLng([[${list.yPoint}]], [[${list.xPoint}]]),
            level: 5,
            marker: markers
          }
          var map = new kakao.maps.StaticMap(mapContainer[index],mapOption)
        </script>
      </table>

    <div th:with="start=${(pages.number/maxPage)*maxPage + 1}, end=(${(pages.totalPages == 0) ? 1 : (start + (maxPage - 1) < pages.totalPages ? start + (maxPage - 1) : pages.totalPages)})" >
      <ul class="pagination justify-content-center">

        <li class="page-item" th:classappend="${pages.number eq 0}?'disabled':''">
          <a th:href="@{'/course/list?page=' + ${pages.number-1}}" aria-label='Previous' class="page-link">
            <span aria-hidden='true'>Previous</span>
          </a>
        </li>

        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${pages.number eq page-1}?'active':''">
          <a th:href="@{'/course/list?page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
        </li>

        <li class="page-item" th:classappend="${pages.number+1 ge pages.totalPages}?'disabled':''">
          <a th:href="@{'/course/list?page=' + ${pages.number+1}}" aria-label='Next' class="page-link">
            <span aria-hidden='true'>Next</span>
          </a>
        </li>

      </ul>
    </div>

  </body>
</div>
</html>