<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장소</title>
</head>
<body>
  <span th:text="|이름 : ${place.place_name}|"></span><br>
  <span th:text="|주소 : ${place.road_address_name}|"></span><br>
  <span th:text="|전화번호 : ${place.phone_number}|"></span><br>
  <a th:href="@{${place.place_url}}"><span th:text="|상세보기 : ${place.place_url}|"></span></a><br>

  <div>
      <div>
          댓글
      </div>
      <div>
          <ul>
              <li>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                  <button type="button" class="btn btn-dark mt-3">등록</button>
              </li>
          </ul>
      </div>
  </div>
  <br/>
  <div class="card">
      <div class="card-header">댓글</div>
      <ul id="reply--box" class="list-group">
          <li id="reply--1" class="list-group-item d-flex justify-content-between">
              <div>댓글 내용입니다.!</div>
              <div class="d-flex">
                  <div class="text-monospace">작성자: ssarlength &nbsp;</div>
                  <button class="badge btn-warning">수정</button><span> | </span>
                  <button class="badge btn-danger">삭제</button>
              </div>
          </li>
      </ul>
  </div>


</body>
</html>