<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>아이디 찾기</title>
    <script th:inline="javascript" src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</head>
<div layout:fragment="content">
<link th:href="@{/css/idFind.css}" rel="stylesheet" />
<body>
<hr>
<div class="divOut">
    <div class="idFind">
        <span class="spanSize">아이디 찾기</span>
    </div>
    <div class="divInner">
        <div class="divInner2">
        <form action="/members/findId" method="post" onsubmit="return loginCh()">
            <span class="spanSize1">이름</span><br>
            <input type="text" class="inputCheck" id="name" name="name" placeholder="이름을 입력하세요"><br>
            <div id="spanEmail">
            <span class="spanSize1">이메일</span><br>
            <input type="email" class="inputCheck" id="email" name="email" placeholder="이메일을 입력하세요">
            </div>
        <button type="button" id="modalbtn" onclick="emailChk()">인증</button><br/>
        <p id="errorM"></p>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="submit" class="btn-3d red" id="submitBtn" value="찾기">
        </form>
        </div>
    </div>
</div>
  <div class="modal">
      <div class="modal_body">
          <div id="texth4"><h3>이메일</h3><h3 id="red">인증코드를</h3><h3>입력해주세요.</h3></div>
          <input type="text" id="code" class="inputCheck" name="code"/>
          <input type="hidden" id="code1" name="code1">
          <button type="submit" name="email" value="확인" onclick="check()">확인</button>
          <button id="cbtn" class="withdraw">아니요</button>
      </div>
  </div>

<script>
    const modal = document.querySelector('.modal');
    const btnOpenPopup = document.querySelector('#modalbtn');
    const modalClose = document.querySelector('#cbtn');
    btnOpenPopup.addEventListener('click', () => {
        modal.style.display = 'block';
        window.scrollTo({top: 0});
    });
    modal.addEventListener("click", e => {
     const evTarget = e.target
        if(evTarget.classList.contains("modal")) {
     modal.style.display = "none"
    }});
    modalClose.addEventListener('click', () => {
        modal.style.display = "none";
    });
</script>
<script th:inline="javascript">
    function loginCh(){
        console.log('아이디찾기 서브밋')
        var code = $('#code').val()
        var code1 = $('#code1').val()
        if(code==code1 && code!=null && code !=""){
            return true;
        }else{
            event.preventDefault()
            $('#errorM').text('메일 인증을 진행해주세요')
            return false;
        }

    }


    function check() {
        console.log("인증코드 체크합니다")
        var code = $('#code').val()
        var code1 = $('#code1').val()
        console.log(code)
        if(code==code1 && code!=null && code !=""){
           alert("인증이 완료되었습니다.")
           modal.style.display = "none";
        }else{
            console.log(document.getElementById('code').value)
            alert("인증에 실패하셨습니다.")
            }
    }
    function emailChk(){
    console.log("이메일보내기 콘솔");
    var email = $('#email').val();
    var name = $('#name').val();
    if(email==""){
        console.log("빈값 들어ㅘ")
        email="1@1";
        console.log(email)
    };
    if(name==""){
        name="1";
        console.log(name)
    };
    console.log(email);
    var id = $('#id').val();
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    console.log(token);
    console.log("이메일보내기 콘솔1");
        $.ajax({
            beforeSend: function(xhr){
                xhr.setRequestHeader(header,token);
                },
                type : 'POST',
                url : '/emailCheck/'+email+'/'+name,
        }).done(function(data){
            if(data!=""){
                alert('인증번호를 발송하였습니다.');
            }else{
                alert('이름이나 메일주소를 확인해주세요.');
            }
            console.log('dl')
            console.log(data)
            console.log(data.authCode)
            $('#code1').val(data);
        }).fail(function(error){
            console.log('dll')
            alert(JSON.stringify(error));
        });
        console.log(token);
        console.log(header);
        console.log(data.content);
    };

</script>
<script th:inline="javascript">
  $(document).ready(function(){
      var errorMessage = [[${errorMessage}]];
      if(errorMessage != null){
          alert(errorMessage);
      }
  });
</script>

</body>
</div>
</html>