<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>비밀번호 찾기</title>
    <script th:inline="javascript" src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</head>
<div layout:fragment="content">
<link th:href="@{/css/passwordFind.css}" rel="stylesheet" />
<body>
<hr>
<div class="divOut">
  <div class="idFind">
    <span class="spanSize">패스워드 찾기</span>
  </div>
  <div class="divInner">
    <div class="divInner2">
      <form action="#" method="post" onsubmit="return loginCh()">
        <span class="spanSize1">이름</span><br>
        <input type="text" class="inputCheck" id="name" name="name" placeholder="이름을 입력하세요"><br>
        <span class="spanSize1">아이디</span><br>
        <input type="text" class="inputCheck" id="loginId" name="loginId" placeholder="아이디을 입력하세요"><br>
        <div id="spanEmail">
          <span class="spanSize1">이메일</span><br>
          <input type="email" class="inputCheck" id="email" name="email" placeholder="이메일을 입력하세요">
        </div>
        <button type="button" id="modalbtn" onclick="emailChk()">인증</button><br/>
        <p id="errorM"></p>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="submit" class="btn-3d red" id="submitBtn" value="찾기">
      </form>
        <div id="hiddenDiv">
          <form action="/members/passFind" method="post" onsubmit="return submit1()">
            <input type="text" id="loginId1" name="loginId1">
            <span class="spanSize1">새 비밀번호</span><br>
            <input type="password" class="inputCheck" name="loginPw" id="pw1" placeholder="비밀번호를 입력하세요" onkeyup="passwordCheck()">
            <span class="spanSize1">비밀번호 확인</span><br>
            <input type="password" class="inputCheck" name="loginPw1" id="pw2" placeholder="비밀번호를 확인하세요" onkeyup="passwordCheck()">
            <input type="text" id="pwValid">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="submit" class="btn-3d red" id="btn3d" value="저장">
          </form>
        </div>
    </div>
  </div>
</div>
<div class="modal">
  <div class="modal_body">
    <div id="texth4"><h3>이메일</h3><h3><span id="red">인증코드</span>를</h3><h3>입력해주세요.</h3></div>
    <div id="texth5">
      <input type="text" id="code" class="inputCheck" name="code"/>
      <input type="hidden" id="code1" name="code1">
      <button type="submit" name="email" value="확인" id="certification" onclick="check()">확인</button>
      <button id="cbtn" class="withdraw"><span id="xBtn">X</span></button>
    </div>
  </div>
</div>
<script>
    const modal = document.querySelector('.modal');
    const btnOpenPopup = document.querySelector('#modalbtn');
    const modalClose = document.querySelector('#cbtn');
    btnOpenPopup.addEventListener('click', () => {
        modal.style.display = 'block';
        window.scrollTo({top: 0});
    });
    modal.addEventListener("click", e => {
     const evTarget = e.target
        if(evTarget.classList.contains("modal")) {
     modal.style.display = "none"
    }});
    modalClose.addEventListener('click', () => {
        modal.style.display = "none";
    });
</script>
<script th:inline="javascript">
    function loginCh(){
        console.log('아이디찾기 서브밋')
        var code = $('#code').val()
        var code1 = $('#code1').val()
        var email = $('#email').val();
        var name = $('#name').val();
        var loginId = $('#loginId').val();
        if(code==code1 && code!=null && code !=""){
            event.preventDefault()
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $.ajax({
            beforeSend: function(xhr){
                xhr.setRequestHeader(header,token);
                },
                type : 'POST',
                url : '/members/findPassword/'+email+'/'+name+'/'+loginId,
            }).done(function(data){
                console.log(data)
                $('#hiddenDiv').css('display','block')
                $('#loginId1').val(loginId);
            }).fail(function(error){
                console.log('비밀번호 찾기 오류')
                alert(JSON.stringify(error));
            });
            return false;
        }else{
            event.preventDefault()
            $('#errorM').text('메일 인증을 진행해주세요')
            return false;
        }

    }


    function check() {
        console.log("인증코드 체크합니다")
        var code = $('#code').val()
        var code1 = $('#code1').val()
        console.log(code)
        if(code==code1 && code!=null && code !=""){
           alert("인증이 완료되었습니다.")
           modal.style.display = "none";
            $('#errorM').text("")
        }else{
            console.log(document.getElementById('code').value)
            alert("인증에 실패하셨습니다.")
            }
    }
    function emailChk(){
    console.log("이메일보내기 콘솔");
    var email = $('#email').val();
    var name = $('#name').val();
    var loginId = $('#loginId').val();
    if(email==""){
        console.log("빈값 들어ㅘ")
        email="1@1";
        console.log(email)
    };
    if(name==""){
        name="1";
        console.log(name)
    };
    if(loginId==""){
        loginId="1";
        console.log(loginId)
    }
    console.log(email);
    var id = $('#id').val();
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    console.log(token);
    console.log("이메일보내기 콘솔1");
        $.ajax({
            beforeSend: function(xhr){
                xhr.setRequestHeader(header,token);
                },
                type : 'POST',
                url : '/emailCheck/'+email+'/'+name+'/'+loginId,
        }).done(function(data){
            if(data!=""){
                alert('인증번호를 발송하였습니다.');
            }else{
                alert('이름, 아이디, 메일주소를 확인해주세요.');
            }
            console.log('dl')
            console.log(data)
            console.log(data.authCode)
            $('#code1').val(data);
        }).fail(function(error){
            console.log('dll')
            alert(JSON.stringify(error));
        });
        console.log(token);
        console.log(header);
        console.log(data.content);
    };
function passwordCheck(){
  const pw1=document.getElementById('pw1').value;
  const pw2=document.getElementById('pw2').value;
  const pwdCheck=/^(?=.*[a-zA-Z])(?=.*[`!@#$%^&*+=-_])(?=.*[0-9]).{8,16}$/;
  if(pw1==pw2 && pwdCheck.test(pw1)){
    document.getElementById('pwValid').style.display="block";
    document.getElementById('pwValid').value="비밀번호 확인";
    document.getElementById('pwValid').style.color="green";
    console.log("비밀번호가 같아?");
    return true;
  }else if(pw1!=pw2){
    document.getElementById('pwValid').style.display="block";
    document.getElementById('pwValid').value="비밀번호 다름";
    document.getElementById('pwValid').style.color="red";
    console.log("비밀번호가 달라?");
    event.preventDefault();
    return false;
  }else if(!pwdCheck.test(pw1)){
    document.getElementById('pwValid').style.display="block";
    document.getElementById('pwValid').value="영문자,숫자,특수문자 포함 8~16자리를 입력하세요.";
    document.getElementById('pwValid').style.color="red";
    event.preventDefault();
    return false;
  }

}
function submit1(){
  const pw1=document.getElementById('pw1').value;
  const pw2=document.getElementById('pw2').value;
  if(document.getElementById('pwValid').value=="비밀번호 확인"){
    console.log("비밀번호 같음");
    return true;
  }else{
    console.log("비밀번호를 확인해주세요");
    event.preventDefault();
    alert("비밀번호를 확인해주세요.")
    return false;
  }
}
</script>
</body>
</div>
</html>