.input_submit{
    position:relative;
    top:14px;
    display: none;
    font-size: 13px;
    padding: 4px 15px;
    color: white;
    margin: 20px 8px 15px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgb(0 0 0 / 15%);
    text-decoration: none;
    background-color: #548bc1;
    box-shadow: 0 0 0 1px #45719c inset,
         0 0 0 2px rgba(255,255,255,0.15) inset,
         0 4px 0 0 #45719c,
         0 4px 0 1px rgba(0,0,0,0.4),
         0 4px 4px 1px rgba(0,0,0,0.5);
}
.input_submit:active {
  box-shadow: 0 0 0 1px #45719c inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
  top:18px;
}
#pwValid{
    border:none;
    display:none;
    width:400px;
    outline:none;
}
#pwValid1{
    border:none;
    display:none;
    width:400px;
    outline:none;
    color:red;
}


#red{
    color:red;
}
.withdraw{
    position:absolute;
    top: 300px;
   background-color: black;
   color: white;
   cursor: pointer;
   padding: 6px 25px;
   border-radius: 5px;
   display:inline-block;
   width: 94px;
   left:79px;
   vertical-align:middle;
}

#cbtn{
    left:248px;
    width:109px;
    height:37px
}
#texth4{
    position:relative;
    top:47px;
}
.btn-3d {
 position: relative;
 display: inline-block;
 font-size: 13px;
 padding: 4px 15px;
 color: white;
 margin: 20px 8px 15px;
 border-radius: 6px;
 text-align: center;
 transition: top .01s linear;
 text-shadow: 0 1px 0 rgb(0 0 0 / 15%);
  text-decoration: none;
  float:right;
  top: -63px;
}
.btn-3d.red:hover {
    background-color: #AEDBE1;
    color:white;
}

.btn-3d:active {
  top: -59px;
}

/* 3D button colors */
.btn-3d.red {
  background-color: #AEDBE1;
  box-shadow: 0 0 0 1px #94BABF inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 4px 0 0 #9EC7CC,
        0 4px 0 1px rgba(0,0,0,0.4),
        0 4px 4px 1px rgba(0,0,0,0.5);
}
.btn-3d.red:active {
  box-shadow: 0 0 0 1px #94BABF inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1254px;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);

}
.modal_body {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 441px;
  height: 400px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}
#preview{
   transition-timing-function: ease-in;
}
#preview1{
   display: none;
   z-index: 1;
   position: absolute;
   top: 7%;
   transition: 2s;
   transition-timing-function: ease-in;
   max-height: 500px;
   max-width: 500px;
}

tr>td:first-child {
   text-align: right
}

h3 {
   text-align: center;
}
h2 {
   text-align: center;
   position: relative;
}

#edit {
  position: relative;
  font-size: 15px;
  margin-top: 24px;
  height: 38px;
  width: 120px;
  left: 283px;
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  background-color: #98dde3;

}

#profile{
   position: absolute;
   width: 300px;
   height: 300px;
   top: 100px;
   left: -250px;
}

.profileCh{
    position:relative;
    top:93px;
    left:-125px;
    display: inline-block;
    font-size: 13px;
    padding: 4px 15px;
    color: white;
    margin: 20px 8px 15px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgb(0 0 0 / 15%);
    text-decoration: none;
    background-color: #AEDBE1;
    box-shadow: 0 0 0 1px #94BABF inset,
         0 0 0 2px rgba(255,255,255,0.15) inset,
         0 4px 0 0 #9EC7CC,
         0 4px 0 1px rgba(0,0,0,0.4),
         0 4px 4px 1px rgba(0,0,0,0.5);
}

.profileCh:active {
  box-shadow: 0 0 0 1px #94BABF inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
  top:97px;
}
#filebutton{
    display:none;
}

.input_file_button{
   position:relative;
   top:10px;
   cursor: pointer;
   display:inline-block;
   font-size: 15px;
   margin-top: 24px;
   height: 30px;
   width: 120px;
   background: none;
   border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    background-color: #98dde3;
    padding-top: 8px;
}
#sub{
   display: none;
}

#del {
   display: none;
}
.withdraw{
   background-color: black;
   color: white;
   cursor: pointer;
   padding: 6px 25px;
   border-radius: 5px;
   display:inline-block;
   width: 100px
}

.mylabel{
   vertical-align: 5px;
   color: #999;
}
.mydiv{
   padding: 0px 0px 8px 0px;
}
.myinput{
   vertical-align: 5px;
   width:400px;
   height:40px;
   display: inline-block;
   border:none;
   background-color: #F7F7F7;
   outline:none;
}
.borderStyle{
    border: 1px solid black;
}
#show1 {
   position:relative;
   width: 400px;
   margin:auto;
   padding:30px
}

span{
   color: #5075B5;
   font-weight: bold;
}

a {
   color: black;
}
.divOut{
    width:100%;
}

.divIn{
    width:500px;
    margin:auto;
}
.divProfile{
    position: absolute;
    left: 50%;
    top:325px;
    margin-left:-427px;
}
.btn-3d.red1:hover {
    background-color: #FF3E46;
    color:white;
}
/* 3D button colors */
.btn-3d.red1 {
  background-color: #FF3E46;
  box-shadow: 0 0 0 1px #BA2D33 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 4px 0 0 #BA2D33,
        0 4px 0 1px rgba(0,0,0,0.4),
        0 4px 4px 1px rgba(0,0,0,0.5);
}
.btn-3d.red1:active {
  box-shadow: 0 0 0 1px #BA2D33 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 0 0 1px rgba(0,0,0,0.4);
}
.toggleBG{
    background: #CCCCCC;
    width: 66px;
    height: 24px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    position: relative;
    top: -29px;
    left: 111px;
}
.toggleFG{
    background: #FFFFFF;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 15px;
    position: relative;
    left: 0px;
}
.pwToggle{
    display:none;
}
