<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>게시글 상세보기</title>
<link th:href="@{ /css/MainBoard.css}" rel="stylesheet" />
</head>
<body>
	<h2>게시글 상세보기</h2>
	<table>
		<tr>
			<td>글번호 : [[${view.post_id}]]</td>
			<td colspan="2">제목 : [[${view.title}]]</td>
			<td>작성자 : [[${view.modified_by}]]</td>
			<td>작성날짜 : [[${view.create_date}]]</td>
		</tr>
		<tr>
			<td>코스번호 : [[${view.course_id}]]</td>
			<td>지역 : [[${view.region}]]</td>
			<td>조회수 : [[${view.viewcount}]]</td>
			<td>
				<img src="img/notGood.png" alt="안조아" width="20px" height="20px">
				&nbsp;[[${goodcount}]]
			</td>
			<td>수정날짜 : [[${view.update_date}]]</td>
		</tr>
		<tr>  
			<td colspan="5">
				내용
			</td>
		</tr>
		<td colspan="5">
			<button type="button" onclick="location.href=''">수정하기</button>
			<button type="button" th:onclick="|location.href='@{http://localhost:8081/mainboard_delete(post_id=${view.post_id})}'|">삭제하기</button>
			<button type="button" onclick="location.href='http://localhost:8081/mainboard_list'">목록보기</button>
		</td>
	</table>
	<table>
		<tr>
			<td>댓글번호</td>
			<td>댓글작성자</td>
			<td>댓글내용</td>
			<td>댓글작성일</td>
		</tr>
		<tr>
			<td>예시댓글1</td>
			<td>내가씀</td>
			<td>이런내용</td>
			<td>오늘씀</td>
		</tr>
	</table>
</body>
</html>